.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.editor-container {
  flex: 1;
  display: flex;
  background-color: #f8f9fa;
  min-height: 0;
  width: 100%;
}
